/* Table styling */
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("/images/stripes-light.png");
}
table {
    width:100%;
    table-layout: fixed;
}
table, th, td {
    margin-top: 70px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
#table1 {
    margin-top: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
/*Welcome text for Teacher and Student*/
.welcome {
    text-align: center;
}
.search {
    text-align: center;
}
#searchBox {
    height: 35px;
    width: 220px;
}
#techInfo {
    text-align: center;
}
td {
    padding: 9px;
    text-align: center;
    background-color:#e0f0ff;
}
th {
    width: 10px;
    padding: 9px;
    text-align: center;
    font-weight: bolder;
    background-color: #5f6da5;
    color: white;
}
   tr:hover td {
    background-color: #C2E1FF;
}

.tablecap {
    font-weight: bold;
    font-size: 19px;
    padding: 9px 9px 9px 9px;
    border-style: solid solid none solid;
    border-width: 1px;
    background-color: #1B2F7E;
    color: white;
}

.bigLogo{
    margin-left: 94px;
}
/* Navigation bar styling */
#leftNav {
    float:left;
}
#rightNav {
    float: right;
}
.navigation {
    background-color: #1B2F7E;
    color: white;
    overflow: hidden;
    /* position:  */
}

/* Style the links inside the navigation bar */
.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.navigation a:hover {
    background-color: #3555D4;
}
/* Add a color to the active/current link */
.smallLogo {
    text-align: center;
    /*margin-top: left;*/
}
/*End of Nav bar styling*/

/* Login and Register Styling */
#studentRadioRegistration
{
    margin-right:20px;
    margin-left: 45px;
}
#teacherRadioRegistration
{
    margin-left:20px;
}

#studentRadioLogin{
    padding-right: 30px;
}

.loginLinks:link {
    text-decoration: none;
    color:black;
}

.loginLinks:visited {
    text-decoration: none;
    color: black;
}

.loginLinks:hover{
    text-decoration: underline;
    color: black;
}

.loginLinks:active{
    text-decoration: underline;
}

.buttons{
    border-radius: 12px;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    background-color: #2D1B7E;
    margin-top: 10px;
    padding: 15px;
    width: 230px;
}
#passwordValidityTxt{
    margin-top: 10px;
    margin-left: 8px;
    position:absolute;
    font-size: 25px;
}

#timerValidityTxt{
    position: absolute;
    top: 26.8em;
    left: 920px;
}

.startContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loginContainer {
    border-style: solid;
    border-width: 5px;
    padding: 30px 27px 30px 30px;
    border-color: #DCDCDC;
    border-radius: 25px;
    background-color: #f3f3f2;
    background-image: linear-gradient(to right, #f3f3f2, #e3e2e6);
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-width: 0 0 2px 0;
    border-color:  darkgray;
    outline: none;
}

/*show password icon stlye*/
#eyeIcon{

    position: absolute;
    bottom: 19px;
    right: 10px;
    color: #C0C0C0;
    font-size: 24px;
}

#faPasswordContainer {
    position: absolute;
}

#eyeIconContainer  {
    position: relative;
}

/*Question Mark Tooltip Icon */
.fa{
    margin-left: 35px;
    color: gray;
    position: relative;
    display: block;
}
/*Tooltip text */
.fa .tooltipText {
    visibility: hidden;
    width: 210px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -33px;
    left: 180%;
    opacity: 0;
    transition: opacity 1.5s;
    margin-left: 15px;
    line-height:1.6;
}
/*Tooltip fade out*/
.fa .tooltipText::after {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    content: " ";
}
/*Tooltip hover animation*/
.fa:hover .tooltipText {
    visibility: visible;
    opacity: 0.5;
}
/*Positioning tooltip arrow*/
#faPassword .tooltipText{
    top: -58px;
}
#faRadioButton .tooltipText{
    top: -20px;

}
#faPassword .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

#password{
    margin-right: 4px;
}

/*Positioning tooltip icon*/

#faPassword{
    top: -40px;
    left: 195px;
}

#tooltipField{
    margin-left:49px;
}
/* Create Quiz Style */
.quizDate{
    margin-left: 10px;
    display: inline-block;
}
.dateCaption
{
    display: inline;
}

.createContainer{
    border-style: outset;
    border-width: 3px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-color: #3f37b8;
    border-radius: 25px;
    background-color: #5c97fc;
    background-image: linear-gradient(to right, #9394e9, #b0a5ff, #5c97fc);
    text-align: left;
    margin: 25px 450px 25px 450px;
}
.quizDetails {
    margin-left: 10px;
    display: inline-block;
}
.createQuizDetails{
    display: inline;
}
#endDateCaption{
    margin-left:15px;
}
#quizModulePosition{
    margin-left: 44px;
}
#quizTimerInput{
    margin-left: 19px;
}
#quizTitlePosition{
    margin-left: 81px;
}
#quizStartDatePosition {
    margin-left: 72px;
}
#quizEndDatePosition {
    margin-left: 72px;
}
.mcQuestion {
    margin-left: 60px;
    border-radius: 6px;
    border: 2px solid   rgb(145, 145, 145);
    outline:none;
}
.mcCorrectAnswer {
    margin-left: 60px;
    border-radius: 6px;
    border: 2px solid   rgb(60, 150, 65);
    outline:none;
}
.mcIncorrectAnswer {
    margin-left: 60px;
    border-radius: 6px;
    border: 2px solid   rgb(150, 60, 60);
    outline:none;
}
.QuestionContainer{
    border-style: inset;
    border-color: #686ecc;
    border-radius: 25px;
    border-width: 3px;
    background-image:  url("/images/arches.png"), linear-gradient(to right, #91a8dd, #b0b6da);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #3f4047;
    font-size: 18px;
    margin-right: 50px;
    margin-left: 50px;
}

.takeQuestionContainer {
    border-style: inset;
    border-color: #9cadff;
    border-radius: 25px;
    border-width: 3px;
    background-color: rgb(194, 208, 255);
    padding-top: 10px;
    padding-bottom: 20px;
}

/*Type of question caption*/
.questionTypeTitle{
    margin-left: 15px;
    font-weight: lighter;
    font-size: 20px;
}

/*Quiz question title*/
.questionTitle{
    margin-left: 35px;
}

.answerContainer{
    margin-left: 50px;
}

/*create input question container*/
.inputQuestion {
    margin-left: 60px;
    border-radius: 6px;
    border: 2px solid   rgb(145, 145, 145);
    outline:none;
}
.inputAnswer {
    margin-left: 60px;
    border-radius: 6px;
    border: 2px solid   rgb(60, 150, 65);
    outline:none;
}
.addQuestions{
    cursor: pointer;
    color: white;
    background-color: #485d9e;
    border-radius: 8px;
    border-color:  #8fabff;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    margin-top: 25px;
    font-size: 18px;
    margin-left: 50px;
    outline: none;
}
.questionCaption{
    margin-left: 35px;
}
#deleteQuestion{
    float: right;
    cursor: pointer;
    background-color: #d20000;
    border-radius: 8px;
    border-color: #8c0400;
    padding: 7px 7px 7px 7px;
    font-weight: bold;
    margin-top: 25px;
    font-size: 20px;
    color: white;
    margin-right: 50px;
    outline: none;
}

.fa-trash{
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

#submitQuizButton{
    margin:auto;
    cursor: pointer;
    color: white;
    background-color: #3cb43c;
    border-radius: 8px;
    border-color:  #a7ffb2;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    display:none;
}
/* Popup background */
.modal {
    display: none; /* Hidden until clicked */
    position: fixed;
    z-index: 1; /* Stack order of element */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling of popup */
    background-color: rgba(0,0,0,0.9); /* Changes background opacity (darkens background) */
}

/* Content within popup */
.popupContent {
    background-color: white;
    margin: 5% auto; /* 10% from the top of the page and in the middle of the screen */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* width of the popup */
}

/* Exit button */
.exit {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.QuizStyle{
    text-align: center;
}
#quizHeader{
    text-align: center;
}
#center{
    text-align: center;
}
.searchBox{
    text-align: center;
}

.floatRight{
    float: right;
    color: red;
}


#loginButton span{
    display: inline-block;
    transition: 0.3s;
    position: relative;
}

.fa-key{
   color: white;
   left: -15px;
}

#loginButton span:after{
    position: absolute;
    content: '\00bb';
    transition: 0.3s;
    top: 0;
    right: -15px;
    padding-left: 50px;
    margin-right: 15px;
    opacity: 0;
}

#loginButton:hover span{
    padding-right: 55px;
    padding-left: 23px;
}

#loginButton:hover span:after{
    right: 0;
    opacity: 5;
}

.fa-user-o{
    position: absolute;
}

.loginInputs{
    background-image: linear-gradient(to right, #f3f3f2, #e3e2e6);
}