/* Table styling */
* {
    font-family: 'Montserrat', sans-serif;
}

html{
    width: 100%;
}
body {
    background-image: url("/images/dust_scratches.png");
}
table {
    width:100%;
    table-layout: fixed;
}
table, th, td {
    margin-top: 70px;
    border-collapse: collapse;
    text-align: center;
}
#table1 {
    margin-top: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
/*Welcome text for Teacher and Student*/
.welcome {
    text-align: center;
}
.search {
    text-align: center;
}
#searchBox {
    height: 35px;
    width: 220px;
}

#techInfo {
    text-align: center;
}
td {
    padding: 9px;
    text-align: center;
    background-color:#e0f0ff;
}
th {
    width: 9px;
    padding: 9px;
    text-align: center;
    font-weight: bolder;
    background-color: #5f6da5;
    color: white;
}
   tr:hover td {
    background-color: #C2E1FF;
}



.tablecap {
    font-weight: bold;
    font-size: 19px;
    padding: 9px 9px 9px 9px;
    border-style: solid solid none solid;
    border-width: 1px;
    background-color: #1B2F7E;
    color: white;
}

.bigLogo{
    margin-left: 94px;
}
/* Start of Nav bar styling*/



/* Add a color to the active/current link */
.smallLogo {
    text-align: center;
    /*margin-top: left;*/
}
/*End of Nav bar styling*/

/* Login and Register Styling */
#studentRadioRegistration
{
    margin-right:20px;
    margin-left: 45px;
}
#teacherRadioRegistration
{
    margin-left:20px;
}

.loginLinks:link {
    text-decoration: none;
    color:#2D1B7E;
    font-weight:900;
}

.loginLinks:visited {
    text-decoration: none;
    color: #2D1B7E;
}

.loginLinks:hover{
    text-decoration: underline;
    color: #2D1B7E;
}

.loginLinks:active{
    text-decoration: underline;
}

.loginButton span{
    display: inline-block;
    transition: 0.3s;
    position: relative;
}


.loginButton span:after{
    position: absolute;
    content: '\00bb';
    transition: 0.3s;
    top: 0;
    right: -15px;
    padding-left: 50px;
    margin-right: 15px;
    opacity: 0;
}

.loginButton:hover span{
    padding-right: 55px;
    padding-left: 23px;
}

.loginButton:hover span:after{
    right: 0;
    opacity: 5;
}

/*.fa-user-o{*/
/*position: absolute;*/
/*}*/

.loginInputs{
    background-image: linear-gradient(to right, #f3f3f2, #e3e2e6);
}

#registerContainer{
    background-image: url("/images/absurdity.png");
    width: 430px;
}

.userType {
    display: inline;
    position: relative;
    padding-left: 25px;
    padding-right:10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

/* hide default radio button */
.userType input {
    position: absolute;
    opacity: 0;

}

.userType{
    margin-left: 25px;
    margin-right: 25px;
}

/* login radio button  */
.radioCheck {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #bcbcbe;
    border-radius: 50%;

}

/*display light purple background on hover */
.userType:hover input ~ .radioCheck {
    background-color: #9796f8;
}

/* display purple background when checked */
.userType input:checked ~ .radioCheck {
    background-color: #7776d5;
}

/* hide circle when checked */
.radioCheck:after {
    content: "";
    position: absolute;
    display: none;
}

/* display circle when checked */
.userType input:checked ~ .radioCheck:after {
    display: block;
}

/* Style circle when checked */
.userType .radioCheck:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
}

.buttons{
    border-radius: 12px;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    background-color: #2D1B7E;
    margin-top: 10px;
    padding: 15px;
    width: 230px;
    outline: none;
}
#passwordValidityTxt{
    position:absolute;
    font-size: 25px;
    left: 330px;
    bottom: 15px;
}

#passwordValidityTxtContainer {
    position: relative;
}

#timerValidityTxt{
    position: absolute;
    top: 38.7em;
    left: 53em;
}

.startContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginContainer {
    border-style: solid;
    border-width: 2px;
    padding: 30px 27px 30px 30px;
    border-color: #DCDCDC;
    border-radius: 25px;
    background-color: #f3f3f2;
    background-image: linear-gradient(to right, #f3f3f2, #e3e2e6);
    box-shadow: 0 6px 63px 0 #c4c4c4;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-width: 0 0 2px 0;
    border-color:  darkgray;
    outline: none;
}

/*show password icon stlye*/
#eyeSlashIcon{
    position: absolute;
    color: #C0C0C0;
    font-size: 24px;
    bottom: 10px;
    right: 65px;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    left: 238px;
}

.fa-eye-slash{

}

#passwordClicked{
    display: inline-block;
    margin-right: 6px;
    background-image: linear-gradient(to right, #f3f3f2, #e3e2e6);
}

#loginEmail{
    background-image: linear-gradient(to right, #f3f3f2, #e3e2e6);
}

#faPasswordContainer {
    position: absolute;
}

#eyeIconContainer  {
    position: relative;
}

#eyeIconContainerLogin  {
    position: relative;
    right: 40px;
    bottom: 9px;
}
/*Question Mark Tooltip Icon */
.fa{
    margin-left: 35px;
    color: gray;
    position: relative;
    display: block;
}
/*Tooltip text */
.fa .tooltipText {
    visibility: hidden;
    width: 210px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -33px;
    left: 180%;
    opacity: 0;
    transition: opacity 1.5s;
    margin-left: 15px;
    line-height:1.6;
}
/*Tooltip fade out*/
.fa .tooltipText::after {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    content: " ";
}
/*Tooltip hover animation*/
.fa:hover .tooltipText {
    visibility: visible;
    opacity: 0.8;
}
/*Positioning tooltip arrow*/
#faPassword .tooltipText{
    top: -58px;
}
#faRadioButton .tooltipText{
    top: -23px;

}
#faPassword .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

#password{
    position: absolute;
    margin-right: 0;
    margin-bottom: 0;
}

#confirmPassword{
    margin-top: 0;
}

/*Positioning tooltip icon*/

#faPassword{
    top: 20px;
    left: 350px;
    margin-left: 0;
    height: 0;
}

#tooltipField{
    margin-left:49px;
}
/* Create Quiz Style */
.createContainer{
    border-style: outset;
    border-width: 3px;
    padding: 45px 23px 45px 0;
    border-color: #d3d3d3;
    border-radius: 25px;
    background-color: #c8c8c8;
    background-image: url("/images/crossword.png");
    margin: 0 auto;
    width: 30%;
    height: 50%;
    box-shadow: 0 6px 63px 5px #c4c4c4;
}

.createQuizDetails{
    width: 49%;
    height: 50%;
    display: inline-block;
}
.inputQuestion{
    width: 55%;
    height: 50%;
}
.inputAnswer{
    width: 55%;
    height: 50%;
}
#quizResults{
    margin-top: 50px;
}
#quizModulePosition{
width: 80%;
}
#quizTimerInput{
    width: 80%;
}
#quizTitlePosition{
    width: 80%;
}

#quizStartDatePosition {
    width: 80%;
}
#quizEndDatePosition {
    width: 80%;
}

.mcQuestion {
    margin-left: 60px;
    border-radius: 9px;
    border: 2px solid   rgb(145, 145, 145);
    outline:none;
    width: 80%;
    height: 80%;

}

.mcCorrectAnswer {
    margin-left: 60px;
    border-radius: 9px;
    border: 2px solid   rgb(60, 150, 65);
    outline:none;
    width: 80%;
    height: 80%;
}
.mcIncorrectAnswer {
    margin-left: 60px;
    border-radius: 9px;
    border: 2px solid   rgb(150, 60, 60);
    outline:none;
    width: 80%;
    height: 80%;
}
#QuestionContainer{
    border-style: inset;
    border-color: #cfd0d6;
    border-radius: 25px;
    border-width: 3px;
    background-color: #959595;
    background-image:  url("/images/brushed-alum-dark.png");
    padding-top: 10px;
    padding-bottom: 10px;
    color: #3f4047;
    font-size: 18px;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 10px;
    box-shadow: 0 6px 63px 5px #c4c4c4;
}

.buttonWrapper{
    text-align: center;
}

.createQuizButtons{
    display: inline-block;
}

.takeQuestionContainer {
    border-style: inset;
    border-color: #9cadff;
    border-radius: 25px;
    border-width: 3px;
    background-color: #3555D4;
    padding-top: 10px;
    padding-bottom: 20px;
}
#correct{
    color: green;
}
#incorrect{
    color: red;
}
/* For all input types that are radio, include this spacing*/
#radioSpace{
    margin: 10px 10px;
}

/*Type of question caption*/
.questionTypeTitle{
    margin-left: 15px;
    font-weight: lighter;
    font-size: 20px;
}

/*Quiz question title*/
.questionTitle{
    margin-left: 35px;
}

.answerContainer{
    margin-left: 50px;
}

/*create input question container*/
.inputQuestion {
    margin-left: 60px;
    border-radius: 6px;
    border: 2px solid   rgb(145, 145, 145);
    outline:none;
    width: 80%;
    height: 80%;
}
.inputAnswer {
    margin-left: 60px;
    border-radius: 6px;
    border: 2px solid   rgb(60, 150, 65);
    outline:none;
    width: 80%;
    height: 80%;
}


.addQuestions{
    cursor: pointer;
    color: white;
    background-color: #887ed0;
    border-radius: 8px;
    border-color: #554c95;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    margin-top: 25px;
    font-size: 18px;
    margin-right: 10px;
    outline: none;
    box-shadow: 0 10px 16px 2px rgba(0,0,0,0.18);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.addQuestions:hover{
    background-color: #9b7ad0;
    border-radius: 8px;
    border-color: #71529e;
}

.questionCaption{
    margin-left: 35px;
    border-width: 2px;
    border-radius: 8px;
    color: white;
}

#deleteQuestion{
    float: right;
    cursor: pointer;
    background-color: #ad0000;
    border-radius: 8px;
    border-color: #7a0400;
    padding: 7px 7px 7px 7px;
    font-weight: bold;
    margin-top: 25px;
    font-size: 20px;
    color: white;
    margin-right: 50px;
    outline: none;
    box-shadow: 0 10px 16px 2px rgba(0,0,0,0.18);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#deleteStudentConfirm{
    background-color: #ad0000;
    border-radius: 8px;
    border-color: #7a0400;
    padding: 7px 7px 7px 7px;
    color: white;
    font-size: 20px;
    margin-left: 330px;
    font-weight: bolder;
    box-shadow: 0 10px 16px 2px rgba(0,0,0,0.18);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: none;
}

#removeStudentPopup{
    text-align: center;
}

.removeStudentButton{
    background-color: #ad0000;
    border-radius: 8px;
    border-color: #7a0400;
    padding: 8px 14px 8px 14px;
    color: white;
    font-size: 14px;
    box-shadow: 0 10px 16px 2px rgba(0,0,0,0.18);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.removeStudentButton:hover{
    background-color: red;
    border-radius: 8px;
    border-color: #ff0500;
    font-size: 18px;
    color: white;
}

#deleteStudentConfirm:hover{
    background-color: #d80000;
    border-radius: 8px;
    border-color: #ff0500;
}

#deleteQuestion:hover{
    background-color: #d80000;
    border-radius: 8px;
    border-color: #ff0500;
}

#studentTrash{
    font-size:20px;
}

.fa-trash{
    color: white;
    font-size: 25px;
    margin-left: 15px;
}

#submitQuizButton{
    margin:auto;
    cursor: pointer;
    color: white;
    background-color: #237e07;
    border-radius: 8px;
    border-color: #298303;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    display:none;
    box-shadow: 0 10px 16px 2px rgba(0,0,0,0.18);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#submitJSQuizButton{
    margin:auto;
    cursor: pointer;
    color: white;
    background-color: #237e07;
    border-radius: 8px;
    border-color: #298303;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    box-shadow: 0 10px 16px 2px rgba(0,0,0,0.18);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#submitQuizButton:hover{
    background-color: #3cb43c;
    border-radius: 8px;
    border-color:  #a7ffb2;
}
/* Popup background */
.modal {
    display: none; /* Hidden until clicked */
    position: fixed;
    z-index: 1; /* Stack order of element */
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling of popup */
    background-color: rgba(0,0,0,0.8); /* Changes background opacity (darkens background) */
}

/* Add Animation */
@-webkit-keyframes modalanimation {
    from {top:-400px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes modalanimation {
    from {top:-400px; opacity:0}
    to {top:0; opacity:1}
}

/* Content within popup */
.popupContent {
    position: relative;
    background-color: white;
    margin: 5% auto; /* 10% from the top of the page and in the middle of the screen */
    padding: 0 0 20px 0;
    border: 1px solid #888;
    width: 40%; /* width of the popup */
    -webkit-animation-name: modalanimation;
    -webkit-animation-duration: 0.5s;
    animation-name: modalanimation;
    animation-duration: 0.5s
}

/* Exit button */
.exit {
    color: #d30000;
    float: right;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;

}

.modal-top{
    padding: 2px 16px;
    background-color: #a0a0a0;
    color: white;
}

.modal-body{
    padding: 2px 16px;
}

.exit:hover,
.exit:focus {
    color: #ff0003;
    cursor: pointer;
}

.QuizStyle{
    text-align: center;
}
#quizHeader{
    margin-top: 40px;
    text-align: center;
}
#center{
    text-align: center;
}
.searchBox{
    text-align: center;
}

/*breaks when moved to top?*/
.fa-key{
    color: white;
    left: -15px;
}

.fa-user-plus{
    color: white;
    left: -15px;
}

.fa-envelope{
    color: white;
    left: -15px;
}

#calenPosition{
   height:34px;
}

.fa-calendar-check{
    color: white;
    left: -15px;
}

.regRadioButtons{
    margin-left: 85px;
}

#registerIcons{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
}

.icon {
    color: white;
    min-width: 20px;
    text-align: center;
    height: 30px;
    margin-top: 8px;
    padding: 12px 10px 0 10px;
    margin-right: 0;
    background-color: darkgray;
}

/*Counter the left positioning for the key button*/
#passKeyIcon{
    left:0;
}

#conPassKeyIcon{
    left:0;
    bottom: 8px;
}
/* START OF NAV BAR STYLING */

/* Add a black background color to the top navigation */
.navigation {
    background-color: #1B2F7E;
    overflow: auto;
}

/* Style the links inside the navigation bar */
.navigation a {
    float: left;
    display: block;
    color: #ffffff;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
    background-color: #3555D4;
    color: #ffffff;
    transition: all 0.3s ease;
}

/* Hide the link that should open and close the navigation on small screens */
.navigation .burger {
    color: #ffffff;
    display: none;
}

/* The profileDropdown container */
.profileDropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.profileDropdown .dropDownButton {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 50px;
    background-color: inherit;
    font-family: inherit; /* Vertical align for phones */
    margin: 0; /* Vertical align for phones */
}

/* Dropdown content (hidden by default) */
.dropdownLinks {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 202px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the profileDropdown */
.dropdownLinks a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #243EA8;
}
/* on hover change the background colour */
.dropdownLinks a:hover {
    background-color: #3555D4;
}
.dropdownLinksTeacher {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the profileDropdown for Teacher */
.dropdownLinksTeacher a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #243EA8;

}
/* Show the profileDropdown menu on hover */
.profileDropdown:hover .dropdownLinksTeacher {
    display: block;
}
/* Show the profileDropdown menu on hover */
.profileDropdown:hover .dropdownLinks {
    display: block;
}

/* When screen is resized to less than 900px wide, hide the links except for the first child (homepage) Show the link that contains should open and close the navigation (.burger) */
@media screen and (max-width: 1200px) {
    .navigation a:not(:first-child), .profileDropdown .dropDownButton{
        display: none;
    }
    .navigation a.burger {
        color: #ffffff;
        float: right;
        display: block;
    }
}
/* A responsive class is inserted to the nav bar with JavaScript, (When the user clicks on the burger icon) This allows the user to still navigate the site while having split screen for example*/
@media screen and (max-width: 1200px) {
    .navigation.responsive {
        position: relative;
    }

    .navigation.responsive a.burger {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navigation.responsive .profileDropdown {
        float: none;
    }

    .navigation.responsive .dropdownLinks {
        position: relative;
    }

    .navigation.responsive .dropdownLinksTeacher {
        position: relative;
    }

    .navigation.responsive .profileDropdown .dropDownButton {
        display: block;
        width: 100%;
        text-align: left;
    }
}
#dropdwn{
    color: white;
}
#whiteIcon{
    color: white;
}
#homeIcon{
    color: white;
    position: relative;
    right: 10px;
}
#userIcon{
    position: relative;
    right: 10px;
    color: white;
}
.dropDownButton:hover{
    background-color: #3555D4;
}
#editIcon{
    right: 5px;
    position: relative;
    color: white;
}
/* END OF NAV BAR STYLING */

/* Popup background */
.mainModal {
    display: none; /* Hidden until clicked */
    position: fixed;
    z-index: 1; /* Stack order of element */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling of popup */
    background-color: rgba(0,0,0,0.8); /* Alters background opacity */
}

/* Content within popup*/
.popupInformation {
    background-color: white;
    margin: 6% auto; /* 10% from the top of the page and in the middle of the screen */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* size of the popup */
    position: relative;
    -webkit-animation-name: modalanimation;
    -webkit-animation-duration: 0.5s;
    animation-name: modalanimation;
    animation-duration: 0.5s
}
/* Exit button */
.exit {
    color: red;
    float: right;
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
}
#bold{
    font-weight: bold;
}

#popupButton{
    margin:auto;
    cursor: pointer;
    color: white;
    background-color: #237e07;
    border-radius: 8px;
    border-color: #298303;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    box-shadow: 0 10px 16px 2px rgba(0,0,0,0.18);
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.4s;
}

#popupButton:hover{
    background-color: #3cb43c;
    border-radius: 8px;
    border-color:  #a7ffb2;
    font-size: 17px;
    color: white;
}

/* BENS TEACHERSEARCH CSS*/

.studentResults {

    display: none;

}

.studentResults1 {

    border-collapse: collapse;
    padding:0; margin:0;
}

 .active td{
    background-color: #C2E1FF;
}

#noResults {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 100px;
    font-size: 19px;
    display: none;

}

#pageTable  {
    /*position: absolute;*/
    /*top: 1100px;*/
    /*left: 850px;*/
    margin-left:45%;
    max-width: 150px;
    border: none;
    font-size: 19px;
}

#pageTable td {
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#fullName, #contactEmail, #contactMessage, #subjectEmail{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

#contactMessage{
    height: 150px;
}

.header{
    height: 300px;
    margin-bottom: -150px;
    padding-top: 1px;
    background-image: url("/images/congruent_pentagon.png");
}

.contactContainer{
    width: 500px;
    height: 400px;
    background-image: url("/images/light-grey-floral-motif.png");
    background-color: #dddddd;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    padding: 30px 30px 135px 30px;
    border: 2px solid darkgrey;
}

.contactCaptions{
    font-weight: bold;
}

#grade{
    color: green;
}

#questionText{
    font-weight: bold;
    font-size: 19px;
}

.questionText{
    font-weight: bold;
    font-size: 18px;
}

#mcOption{
    font-size: 17px;
    margin-right: 0px;
}

#quizSubmit{
    margin:auto;
    cursor: pointer;
    color: white;
    background-color: #237e07;
    border-radius: 8px;
    border-color: #298303;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    font-size: 19px;
    outline: none;
    box-shadow: 0 10px 16px 2px rgba(0,0,0,0.18);
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.4s;
}
#quizSubmit:hover{
    background-color: #3cb43c;
    border-radius: 8px;
    border-color:  #a7ffb2;
    font-size: 25px;
    color: white;
}
#takeQuiz{
    margin:auto;
    cursor: pointer;
    color: white;
    background-color: #237e07;
    border-radius: 8px;
    border-color: #298303;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    box-shadow: 0 10px 16px 2px rgba(0,0,0,0.18);
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.4s;
}

#takeQuiz:hover{
    background-color: #3cb43c;
    border-radius: 8px;
    border-color:  #a7ffb2;
    font-size: 22px;
    color: white;
}
.meme{
    color: red;
}
/*tr::hover {*/

    /*background-color: #C2E1FF;*/

/*}*/


/*.StudentResults1 tr:hover td {*/

    /*background-color: #C2E1FF;*/

/*}*/